<%-include('../Partials/layout.ejs') %>
<div class="page-header " style="margin-top: 10px;">
    <ul class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="algo.html">Algorithms</a></li>
        <li><a href="algo.html">Warmup</a></li>
        <li><a style="color: #424242">Solve Me First</a></li>
    </ul>
</div>
<div class="header">
    <div class="container">
        <h1>
            Solve Me First
        </h1>
        <b style="margin-left: 20px; font-size: 15px;">by<a class="header-link" href="https://www.hackerrank.com/shashank21j?hr_r=1" > shashank21j</a></b>
    </div>
</div>

<nav class="navbar navbar-default custom-head">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a >Problem</a></li>
            <li ><a class="inactive" href="warmup1java.html">Solution</a></li>
            <li ><a class="inactive" href="warmup1python.html">Discussion</a></li>
        </ul>
    </div>
</nav>
<div class="title-text">
    <div class="container">
        <h2>First Solution</h2>
    </div>
</div>
<div class=" jumbotron" style="width:70%;margin-left: 180px; font-size: 20px;border-radius:5px ;padding: 50px">

    Complete the function solveMeFirst to compute the sum of two integers.
</br>
    Function prototype:
    </br>
    int solveMeFirst(int a, int b);
    </br>
    where,
    </br>
    a is the first integer input.</br>
    b is the second integer input</br>
    Return values</br>
    </br>
    sum of the above two integers</br>
    Sample Input</br>
    </br>
    a = 2</br>
    b = 3</br>
    Sample Output
    </br>
    5</br>
    Explanation</br>
    </br>
    The sum of the two integers  and  is computed as:2+3=5
</code>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%- include('../Partials/layoutfooter.ejs') %>
</body>
</html>