
<footer class="my-footer" >
    <div class="container" >
        <div class="footer-middle text-center ">
            <div class="email-address">
                <span class="fa fa-envelope footer-icon"></span>
                <a><p>codingmania@gmail.com</p></a>
            </div>
            <p class="copyright">Developed by Mind Hackers<br></p>
        </div>
    </div>

        
    </div>
</footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>

</script>
