
<footer class="my-footer" >
    <div class="container" >
        <div class="footer-top page-header">
            <h2 class="text-center image-icon ">Coding Mania</h2>

        </div>
        <div class="footer-middle text-center ">
            <div class="abc page--header">
                <span class="fa fa-envelope footer-icon"></span>
                <a ><p style="margin-right: 8px;">codingmania@gmail.com</p></a>
            </div>
            <span class="fa fa-phone footer-icon"></span>
            <p class="text">89********</p>

        </div>
    </div>
    <div class="footer-bottom text-center">
        <p>Developed by Mind Hackers<br></p>
    </div>
    </div>
</footer>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>

</script>
