<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!-- <div class=" mid" style="margin-top: 30px;">
    <div class="row " >
        <nav class="col-sm-3 col-xs-2">
            <strong><block class="mid-header" >     Subdomains</block></strong>
            <div >
                <ul class="un-list" style="margin-top: 20px;">
                    <li  class="mid-title"><a class="btn btn-active xyz" href="/algo"  >Warmup</a></li>
                    <li  class="mid-title"><a class="btn btn-action" href="/algo.implementation"   >Implementation</a></li>
                    <li  class="mid-title"><a class="btn btn-action" href="/algo.strings"  >Strings</a></li>
                    <li  class="mid-title"><a class="btn btn-action" href="/algo.sorting" >Sorting</a></li>
                </ul>
            </div>
        </nav>
        <nav class="col-sm-9 col-xs-10 ">
            <strong><block class="mid-header-right">Warmup Solutions</block></strong>
            <div >
                <ul class="nav navbar-nav" style="margin-top: 20px;">
                    <li  class="mid-section"><a href="warmup" ><h4 class="section-title">Solve Me First</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup2.html"><h4 class="section-title">Simple Array Sum</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup3.html"><h4 class="section-title">Compare the Triplets</h4><strong class=" btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup4.html"><h4 class="section-title">A Very Big Sum</h4><strong class=" btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup5.html"><h4 class="section-title">Diagonal Difference</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup6.html"><h4 class="section-title">Plus Minus</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup7.html"><h4 class="section-title">Staircase</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup9.html"><h4 class="section-title">Birthday Candle Cake</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                    <li  class="mid-section"><a href="warmup10.html"><h4 class="section-title">Time conversion</h4><strong class="btn-primary section-see">Solve Question</strong><a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</div>
<div  class="pagination " >
    <a ><span class="fa fa-caret-left disabled"></span></a>
    <a class="active" href="#">1</a>
    <a ><span class="fa fa-caret-right disabled"></span></a>

</div> -->
