<%- include('../Partials/layout.ejs') %>
<div class="container">
<div class="enter_credentials">
    <div class="enter-credentoals-inner">
        <% if(msg.length){ %>
        <div class="alert alert-info alert-dismissible fade in" style="text-align: center;" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= msg %></strong></div>
        <% } %>

            <form action="/signup" method="post" class="form-style" >

                <h4>Enter Credentials</h4>
                <div class="form-group">
                    <label>Username<strong style="color: red">*</strong> :</label>
                    <input type="text"  required name="username" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Full Name<strong style="color: red">*</strong> :</label>
                    <input type="text" required name="fname" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Password<strong style="color: red">* </strong>:</label>&nbsp;
                    <input type="password" required  name="password" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Confirm Password<strong style="color: red">* </strong> :</label>
                    <input type="password" required name="cpassword" class="form-control" >
                </div>
        <div class="submit-btn">
                    <input type="submit"  value="Submit" class="btn btn-primary">
                </div>
            </form>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%- include('../Partials/layoutfooter.ejs') %>

</body>
</html>