.modal-dialog.login-modal {
    width: 380px;
}
.login-modal .modal-header {
    padding: 5px 15px;
}
.login-modal h4#myModalLabel {
    font-size: 14px;
}
.login-modal .modal-header .close span {
    color: #000;
    opacity: 1;
}
.enter_credentials input.form-control {
    height: 27px;
}
.enter_credentials label {
    font-size: 12px;
    font-weight: normal;
}

.enter_credentials {
    float: none;
    width: 400px;
    margin: 0 auto;
}

.enter-credentoals-inner input.btn.btn-primary {
    background: #029cee;
    border-color: #029cee;
    font-size: 12px;
    padding: 4px 10px;
}
.submit-btn {
    float: right;
}

.enter-credentoals-inner {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px 0;
}
form.form-style {
    float: left;
    width: 100%;
}
.enter-credentoals-inner h4 {
    font-size: 15px;
    color: #000;
    margin-top: 0px;
}
.enter-credentoals-inner .form-group {
    margin-bottom: 8px;
}

nav.navbar.navbar-default.my-head .navbar-nav>li>a {
    padding: 6px 10px;
    font-size: 12px;
}
nav.navbar.navbar-default.my-head{
    min-height: auto;
}
p.navbar-brand.header-style {
    margin-bottom: 0px;
    height: auto;
    padding: 5px;
    font-size: 15px;
}
.alert.alert-info.alert-dismissible.fade.in {
    position: absolute;
    right: 20px;
    width: 260px;
    max-width: 210px;
    padding: 10p;
    top: 40px;
}


html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
}

.my-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    padding: 5px 0;
    z-index: 9;
}
.CodeMirror-gutter.CodeMirror-linenumbers {
    background: #3d3e46;
    padding-right: 8px;
    height: 100vh;
}
p.copyright {
    float: right;
}
.email-address {
    float: left;
}

.page-header {
    padding-bottom: 0 !important;
    margin: 0 0 17px !important;
}
.page-header ul.breadcrumb {
    padding: 0 10px;
}
p {
    font-size: 14px;
}
.list-item-style {
    height: auto;
}
.list-item-style h4 {
    margin: 0px;
    font-size: 16px;
}
a.btn.btn-default.list-btn-style {
    margin: 0px;
    padding: 1px 10px;
    font-size: 13px;
}
nav.navbar.navbar-default.custom-head li.active a , nav.navbar.navbar-default.custom-head li a:hover {
    color: #fff;
    background-color: #029cee;
}

nav.navbar.navbar-default.custom-head {
    min-height: auto;
    margin-bottom: 8px;
}

nav.navbar.navbar-default.custom-head .navbar-nav>li>a {
    padding: 5px 10px;
    font-size: 14px;
}



.problem-inner {
    background: #fff;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.problem-inner p span {
    float: left;
    width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.problem-inner p {
    margin: 0 0 10px;
    font-size: 13px;
    color: #666;
}

.editor1 {
    float: left;
    width: 100%;
    padding: 10px;
}

p.note {
    color: #fff;
    font-size: 10px;
    padding: 6px 0 0;
    margin: 0px;
}

.compiler {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}